[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 150785230+uh-kay@users.noreply.github.com
	name = uh-kay
[init]
	defaultBranch = main
